<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - Mi aplicación ASP.NET MVC</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
     <!-- Bootstrap core CSS     -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <!--  Material Dashboard CSS    -->
    <link href="~/Content/css/material-dashboard.css" rel="stylesheet" />
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="~/Content/css/demo.css" rel="stylesheet" />
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>
    
</head>
<body>
    <div class="wrapper">
	    <div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg">
			<div class="logo">
				<a class="simple-text">Señor Pez
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>                    
                </ul>
            </div>
        </div>
       @* /Account/LogOff*@
        <div class="main-panel">
			  @RenderSection("featured", required: false)
        @* class="content-wrapper main-content clear-fix"*@
      
            @RenderBody()
        
		</div>
	</div>
   @* <header>
        <nav class="white" role="navigation">
            <div class="nav-wrapper container">
                <a id="logo-container" href="#" class="brand-logo">Logo</a>
               
                <ul id="nav-mobile" class="side-nav">
                    <li>@Html.Partial("_LoginPartial")</li>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </header>*@
     @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
    <!--   Core JS Files   -->
    <script src="~/Scripts/js/jquery-3.1.0.min.js"></script>
    <script src="~/Scripts/js/bootstrap.min.js"></script>
    <script src="~/Scripts/js/material.min.js"></script>

    <!--  Charts Plugin -->
    <script src="~/Scripts/js/chartist.min.js"></script>
    <!--  Notifications Plugin    -->
    <script src="~/Scripts/js/bootstrap-notify.js"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="~/Scripts/js/material-dashboard.js"></script>

    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</html>
