@if (Request.IsAuthenticated)
{
     <ul class="nav">
        <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
        <li>@Html.ActionLink("Mantenimiento", "Index", "Mantenimiento")</li>
        <li>@Html.ActionLink("Operaciones", "About", "Home")</li>
        <li>@Html.ActionLink("Reportes", "Contact", "Home")</li> 
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>       
    </ul> 
}
else
{
    <ul class="nav">
        @*<li style="text-align:left;">@Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li style="text-align:left;">@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
@using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
{@Html.AntiForgeryToken()}
